*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}

html, body{
    font-size: 65.5%;
}

::-webkit-scrollbar{
    display: none;
}

header{
    z-index: 999;
}

.navbar{
    position: absolute;
    background-color: transparent!important;
}

.container-fluid{
    width: 100vw!important;
    padding: .2rem 2rem;
}

.navbar-brand{
    width: 45%!important;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

span.logo {
    display: flex;
    flex-direction: column;
    position: relative;
}

span.logo-one {
    font-size: 2.6rem;
}

ul li a.active {
    color: #1B51B3!important;
    font-weight: 600;
  }
  

span.logoSpan {
    color: #1B51B3;
    font-weight: 700;
}

span.logoSpan-Bottom {
    font-size: 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: .6vw;
}

span.logoSpan-Bottom img{
    width: 4.5rem; 
    height: auto; 
    padding-left: .7vw;
}

nav#navbarSupportedContent {
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.main-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav>ul {
    width: 80%;
    display: flex;
    justify-content: space-evenly!important;
}

ul li a{
    color: #000000!important;
}

ul li{
    font-size: 1.1rem;
    width: max-content;
}

.svg-header {
    width: 3.12rem;
    height: auto;
}

.svg-header-parent{
    position: relative;
}

.hover-text {
    display: none;
    position: absolute;
    bottom: -10px;
    right: 0;
    color: #5686df;
    font-size: .7rem;
    font-weight: 500;
    transition: all 1s ease-in-out ;
}

.auth-nav a:hover .hover-text {
display: block; /* Show the text on hover */
}
  
section{
    height: 100vh;
    width: 100vw;
}

.home-one p{
    font-size: 2.26rem;
    margin-top: 3vh;
}

.home-one{
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: #5686df; */
    padding: 1rem;
    margin: 0;
    max-width: 100vw!important;
    width: 100%;
}

.home-one-top{
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.home-one-left h1, h2{
    font-size: calc(3rem + 1.5vw);
}

.home-one-right img{
    width: 42rem;
    height: auto;
}

.home-one-bottom{
    display: flex;
    height: 20%;
    align-items: flex-start;
    justify-content: center;
}

.home-one-bottom .arrow{
    border: 2px dashed black;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
}

.arrow svg{
    width: 2.5rem;
    height: auto;
}

.custom-shape-divider-bottom-1703665301 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1703665301 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1703665301 .shape-fill {
    fill: #5686df;
}


/* ======================================================================================== */

.home-two{
    padding: 1rem;
}

section.home-two-main{
    margin-top: 2rem;
    min-height: 100vh;
    height: 100%;
}

.home-two-main h2, .home-three h2{
    font-size: calc(1.5rem + 1vw);
    text-align: center;
    color: #1B51B3;
}

.home-two-main p{
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0;
}

.home-two-code {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.home-two-code h3{
    text-align: center;
    color: #1B51B3;
}

.stats {
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.stats .lineCount, .stats .charCount{
    color: #1B51B3;
}

.home-two-code textarea{
    height: 50vh;
    font-size: 2rem;
}

.custom-btn{
    background-color: #1B51B3!important;
    margin: 3rem 0;
    width: 100%!important;
    color: white;
    font-size: 1.6rem;
}

.home-two-wrapper{
    margin-top: 2rem;
}

.home-three-wrapper{
    margin-top: 3.5rem;
}


/* ======================================== */

.home-three-first{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 3.6rem 0;
}

.sr{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted black;
    border-radius: 20px;
    height: 10vh;
    width: 50%;
}

.box-result{
    margin-left: .7rem;
    color: #1B51B3;
    /* color: #000000; */
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.custom-btn{
    width: 40%;
}


#exampleModalLabel, #shareLink, #closeModal, #copyLinkBtn, #exitModal{
    font-size: 2rem !important;
}
